<script>
    document.addEventListener('DOMContentLoaded', function () {

    var bannerElement = document.querySelector('.promo-banner-order-confirm');
    if (bannerElement) {

    // Encontrar o elemento <a> dentro do elemento com a classe 'bg-banner'
    var bannerLinkElement = bannerElement.querySelector('.bg-banner a');
    // Obter o link do elemento <a>
    var bannerLink = bannerLinkElement ? bannerLinkElement.getAttribute('href') : 'sem_link';
    // Encontrar a imagem dentro do elemento com a classe 'img-banner'
    var bannerImage = bannerElement.querySelector('.img-banner');
    // Obter os atributos da imagem
    var bannerSrc = bannerImage ? bannerImage.getAttribute('src') : 'sem_imagem';
    var bannerAlt = bannerImage ? bannerImage.getAttribute('alt') : 'sem_alt';
        //DISPARAR O EVENTO SELECT PROMOTION NO CLIQUE
        bannerElement.addEventListener('click', function () {


    // Disparar o evento select_promotion
    window.dataLayer.push({
        'event': 'select_promotion',

        'item_id':  'promo-banner-order-confirmation',
        'item_name': bannerAlt,
        'item_link': bannerLink,
        'item_image': bannerSrc,
        'item_alt': bannerAlt,
        'item_index': 1,
    });

});

//------------------------------------------------------------------------------------------------------------------------------


        //DISPARAR O EVENTO VIEW PROMOTION SEMPRE QUE O BANNER ENTRAR NO CAMPO VISIVEL

        var observer = new IntersectionObserver(function(entries) {
            entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                   

                    // Disparar o evento view_promotion
                    window.dataLayer.push({
                        'event': 'view_promotion',
                        
                        'item_id': 'promo-banner-order-confirmation',
                        'item_name': bannerAlt,
                        'item_link': bannerLink,
                        'item_image': bannerSrc,
                        'item_alt': bannerAlt,
                        'item_index': 1,
                    });
                }
            });
        }, { threshold: 0.5 });

        // Observa o banner
        observer.observe(bannerElement);
    }
});
</script>